.ms-page {
   width: 100%;
   height: 100%;
   display: flex;
   position: relative;
   flex-direction: column;
   background-color: #f6f6f6;
}

.text-line-1 {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   -webkit-line-clamp: 1;
}


.bg-common {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.empty-box {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   &>* {
      display: block;
      font-size: 16px;
      color: #666;
   }
}