input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder
{
  color: #999;
}
body, input,button,div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
  color: #333;
  background-color: #555;
}
button,
input,
body{
  font-size: 14px;
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 1.1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

input{
  outline: none;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
}
/** 重置文本格式元素 **/
a { text-decoration: none;  -webkit-touch-callout:none;}
a:hover { text-decoration: none; }

p {
  word-break: break-all; /*支持IE，chrome，FF不支持*/
  word-wrap: break-word; /*支持IE，chrome，FF*/
}

p,span,div,h1,h2,h3,a{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='date']{
  display: block;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

span{

}

